{% extends 'portfolio/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <header class="introduction">
            <img class="introduction-picture" src="{{ intro_object.picture.url }}"
                 alt="Photo of Yurii Palamarchuk in Toronto">
            <h1 class="introduction-title">{{ intro_object.title }}</h1>
            <span class="introduction-text">
                {{ intro_object.description | safe }}
                </span>
        </header>
        <main>
            {% if projects %}
                <div class="projects-block">
                    <h2 class="projects-title">Projects</h2>
                    <hr>
                    <div class="projects">
                        {% for project in projects %}
                            <div class="project">
                                <a class="project-image-link" href="{{ project.link }}" target="_blank">
                                    <img class="project-image" src="{{ project.preview.url }}"
                                         alt="{{ project.title }}"/>
                                </a>
                                <div class="project-title">
                                    {% if project.github %}
                                        <a class="project-github-link" href="{{ project.github }}" target="_blank">
                                            <img class="project-github-icon"
                                                 src="{% static 'portfolio/assets/github-icon.svg' %}" alt="Github"
                                                 height="26px"
                                            />
                                        </a>
                                    {% endif %}
                                    <a class="project-link" href="{{ project.link }}" target="_blank">
                                        {{ project.title }}
                                    </a>
                                </div>
                                <p class="project-desc">
                                    {{ project.description }}
                                </p>
                            </div>
                        {% endfor %}
                        {% if empty_block %}
                            <div class="project project-empty-block"></div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </main>
    </div>
{% endblock content %}
