/*
    introduction block
*/

.introduction {
    padding-top: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction-title {
    margin-top: 25px;
    text-align: center;
}

.introduction-picture {
    width: 300px;
    align-self: center;
    border-radius: 50%;
    filter: drop-shadow(0px 9px 5px rgba(0, 0, 0, 0.3));
}

.introduction-text {
    max-width: 700px;
    margin-top: 0;
    text-align: center;
    line-height: 22px;
}

.introduction-text p {
    margin-top: 0;
}

@media (max-width: 768px) {
    .introduction {
        padding-top: 75px;
    }

    .introduction-picture {
        width: 275px;
    }
}

/* 
    projects block
*/

.projects-block {
    margin-top: 40px;
}

.projects-title {
    margin-bottom: 5px;
    font-weight: 400;
}

.projects-block hr {
    border: 0;
    border-top: 1px solid #a5a5a5;
    margin-bottom: 20px;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.project {
    width: 31.3%;
    margin-bottom: 10px;
    align-self: normal;
}

.project-image {
    max-width: 100%;
    transition: transform 0.3s ease-in-out,
    border-radius 0.3s ease-in-out,
    filter 0.3s ease-in-out;
    border-radius: 15px;
    filter: drop-shadow(0 3px 4px rgba(22, 22, 22, 0.08));
}

.project-image:hover {
    transform: scale(1.02) translateY(-5px);
    border-radius: 20px;
    filter: drop-shadow(0 3px 8px rgba(22, 22, 22, 0.08));
}

.project-title {
    margin-top: 2px;
    display: flex;
    align-items: flex-end;
}

.project-github-link {
    display: flex;
}

.project-github-icon {
    margin-right: 3px;
    transition: opacity 400ms ease;
}

.project-github-icon:hover {
    opacity: 0.7;
}

.project-link {
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 20px;
    text-decoration: none;
    color: var(--blakish);
    transition: all 0.3s ease;
}

.project-link:hover {
    color: var(--blue);
}

.project-desc {
    margin-top: 5px;
    font-size: 16px;
}

@media (max-width: 768px) {
    .project {
        width: 48%;
    }
}

@media (max-width: 600px) {
    .project {
        width: 100%;
    }

    .empty_block {
        display: none;
    }
}

